<ul class="list-inline text-center">
  <% ["AbelBoot", "allypatricio", "thehunter17", "Andreiadomz", "aquellier", "arthurpfister", "catarinacota", "davidzwagemaker", "Gittelo", "emilykburns", "KindScrabble", "jdharveng", "llotti", "mariacastro96", "Martagaiabras", "xamplits", "mitchzer", "Monica-Nabais", "pavelnaumov", "pedromarzagao", "sknzl", "toddjohnson407", "tonym89"].each do |username| %>
    <li>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{username}", class: "img-thumbnail", style:"maxwidth: 90px; width: 90px;" %>
      <p><%= username.capitalize %></p>
    </li>
  <% end %>
</ul>
